<!DOCTYPE html>
<html lang="es">
<head>
<link rel="stylesheet" href="/css/styles.css">
<meta charset="UTF-8">
<title>!Programacion visual!</title>                          <!--deje espacio para el aside porque no me deja moverlo a la derecha -->
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
</style>
</head>
<body>
<header>
<h1>Recorriendo la programacion visual</h1>
<nav>
	<ul>
				<li><a href="#introduccion">Introducción</a></li>
                <li><a href="#herramientas">Herramientas</a></li>
                <li><a href="#diferencias">Diferencias</a></li>
                <li><a href="#formulario">Formulario</a></li>
	</ul>
</nav>
</header>
<main>
<section id="Introduccion">
<h2>Introduccion breve a la Programacion Visual</h2>
<p> La programación visual es un tipo de lenguaje de programación que permite a sus usuarios ilustrar sus procesos, o dicho de otra forma, se trata de un lenguaje de programación visual que permite a los desarrolladores explicar el proceso con palabras comprensibles para los usuarios, a diferencia de un lenguaje informático tradicional basado en texto.</p>
<h3>Algunas ventajas</h3>
<ul>
	<li>Facilidad de uso</li>
	<li>Fácil de aprender</li>
	<li>Funciones predefinidas</li>
</ul>
</section>
<section id="herramientas">
<h2>Herramientas para Programacion visual</h2>

<p>Como desarrollador web, tú eres responsable de crear aplicaciones web confiables. Esto implica no solo la programación, sino también tareas complejas y que consumen mucho tiempo, como la depuración de errores y la administración de servidores.</p>
<p>A continuacion un pequeño top de las mejores opciones, desde principiante hasta avanzado: </p>
 <table>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                </tr>
                <tr>
                    <td>Visual Studio Code</td>
                    <td>Visual Studio Code es un editor de código abierto que se ejecuta en Windows, Linux y macOS. Este incluye funciones integradas como resaltado de sintaxis, autocompletado y comandos de Git para que la programación sea más rápida y sencilla.</td>
                </tr>
                <tr>
                    <td>GitHub</td>
                    <td>Este puede ser una excelente plataforma para expandir tus redes y construir una marca personal como desarrollador web. GitHub también viene con herramientas flexibles de gestión de proyectos para ayudar a las organizaciones a adaptarse a cualquier equipo, proyecto o flujo de trabajo.</td>
                </tr>
                <tr>
                    <td>Unity</td>
                    <td>Para el desarrollo de videojuegos, ofrece un entorno de programación visual con su sistema de nodos.</td>
                </tr>
            </table>
</section>
<section id="diferencias">
	<h2>Diferencias de la programacion visual y programacion "normal"</h2>
	<p>La principal diferencia es que los programadores visuales no tienen que lidiar con las complejidades de la sintaxis de comandos. Tampoco se necesita aprender el engorroso “vocabulario” de un lenguaje de programación. En la programación “normal”, se requiere un alto grado de abstracción para obtener el resultado deseado a partir de las reglas del lenguaje de programación. Aunque muchos editores de programación tienen la función “Autocompletar”, para que los comandos se completen y los procedimientos se cierren por sí mismos, los programadores son susceptibles de cometer errores: si se olvida un carácter, toda la tarea da error. Esto a menudo requiere una larga búsqueda de errores.</p>
	<p>Al igual que al aprender un nuevo idioma, al empezar a programar a mano se empieza con el “vocabulario” más importante para “comunicarse”. Cada nueva tarea de programación requiere el aprendizaje de nuevos términos. La gama de términos utilizados en los modernos lenguajes de programación textual ha crecido enormemente a lo largo de los años para adaptarse a los requisitos del internet moderno. Algunas secciones del programa se pueden almacenar en archivos separados, que después se enlazan con el proceso de programación. Aunque así la programación textual es más sencilla, este método requiere una amplia visión de conjunto, un código bien comentado y una documentación minuciosa.</p>
</section>
</main>
<aside class="contenido-adicional">
    <h2>Te puede interesar</h2>
    <p>Descubre más sobre programación visual con estos recursos:</p>
    <a class="contenido-adicional-enlace" href="https://github.com/">GitHub</a>
    <a class="contenido-adicional-enlace" href="https://code.visualstudio.com/">Visual Studio Code</a>
    <a class="contenido-adicional-enlace" href="https://unity.com/">Unity</a>
    <img class="contenido-adicional-imagen" alt="Programación Visual" src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2015/09/Imagen-2.jpg?fit=1162%2C774&quality=50&strip=all&ssl=1" width="400" height="500">
</aside>
<footer id="pie">
    <p>Contacto: virtual@unju.edu.ar</p>
    <p>Redes Sociales</p>
    <a class="pie-enlace" href="https://github.com/gustso">GitHub</a>
</footer>
</body>
</html>